name: CI Build and Push

on:
  push:
    branches: [ "main" ]
    paths:
      - "app/**"
      - ".github/workflows/**"

permissions:
  contents: write
  packages: write

jobs:
  build-push-update-manifest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image variables
        run: |
          echo "IMAGE=ghcr.io/${{ github.repository_owner }}/hello-gitops" >> $GITHUB_ENV
          echo "TAG=${{ github.sha }}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ Tarun-Kumar-Arcot }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ env.TAG }}
            ${{ env.IMAGE }}:latest

      - name: Update Kubernetes manifest image tag
        run: |
          sed -i "s|image: .*hello-gitops:.*|image: $IMAGE:$TAG|g" k8s/deployment.yaml

      - name: Commit and push manifest change
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add k8s/deployment.yaml
          git commit -m "chore: deploy image $TAG" || echo "No changes to commit"
          git push
name: CI Build and Push

on:
  push:
    branches: [ "main" ]
    paths:
      - "app/**"
      - ".github/workflows/**"

permissions:
  contents: write
  packages: write

jobs:
  build-push-update-manifest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set image variables
        run: |
          echo "IMAGE=ghcr.io/${{ github.repository_owner }}/hello-gitops" >> $GITHUB_ENV
          echo "TAG=${{ github.sha }}" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./app
          push: true
          tags: |
            ${{ env.IMAGE }}:${{ env.TAG }}
            ${{ env.IMAGE }}:latest

      - name: Update Kubernetes manifest image tag
        run: |
          sed -i "s|image: .*hello-gitops:.*|image: $IMAGE:$TAG|g" k8s/deployment.yaml

      - name: Commit and push manifest change
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add k8s/deployment.yaml
          git commit -m "chore: deploy image $TAG" || echo "No changes to commit"
          git push

      - name: Debug - show files
        run: |
          pwd
          ls -la
          ls -la app
          cat app/Dockerfile
          cat app/requirements.txt